body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f8f9fa, #e0c3fc);
    color: #333;
    text-align: center;
}
/* Hero Section */
.hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url("https://images.unsplash.com/photo-1534447677768-be436bb09401");
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 48px;
    color: #9d4edd;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    background: rgba(255,255,255,0.05);
    color: #9d4edd;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    background: white;
}

/* Events Section */
.events {
    padding: 60px 20px;
}

.events h2 {
    color: white;
    margin-top: 40px;
}

.event-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.event-box div {
    background: #1a1a1a;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid gold;
    transition: 0.3s;
}

.event-box div:hover {
    background: #9d4edd;
    color: white;
    transform: scale(1.05);
}

/* Form Section */
.form-section {
    padding: 60px 20px;
    background: #111;
}

form {
    max-width: 400px;
    margin: auto;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    background: rgba(255,255,255,0.05);
    color: white;
    padding: 15px;
    width: 100%;
    border-solid #9d4edd: 1px;
    border: none;
    font-weight: bold;
}

button:hover {
    background: white;
}

/* Footer */
footer {
    padding: 20px;
    background: black;
}
/* Event Rules Style */
details {
    background: #9d4edd;
    border: 1px solid #e0c3fc;
    padding: 15px;
    border-radius: 15px;
    width: 250px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

summary {
    font-weight: bold;
    color: #9d4edd;
}
details p {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}
